vich_uploader:
    db_driver: orm

    mappings:
        dogs:
            uri_prefix: /images/dogs
            upload_destination: "%kernel.project_dir%/public/images/dogs"
            namer: Vich\UploaderBundle\Naming\SmartUniqueNamer

            inject_on_load: false
            delete_on_update: false
            delete_on_remove: true
