a {
    color: rgb(52, 52, 52);
}

.listImg:first-child {
    max-height: 200px;
    aspect-ratio: 1/1;
}

.listImg {
    max-height: 100px;
    aspect-ratio: 1/1;
}

img {
    max-height: 200px;
    aspect-ratio: 1/1;
}
