{% extends 'base.html.twig' %}

{% block title %}Annonce + id de l'annonce
{% endblock %}

{% block body %}
	<div class="d-flex">
		<h2>Portée de Cutie Golden</h2>
		<p>Déjà adopté</p>
	</div>
{% endblock %}
