{% extends 'base.html.twig' %}
{% block body%}
{{parent()}}
<h1>
Les dernières annonces :</h1>
{% block annnonces %}
<section class="annonces">
{% for annonce in annonces %}
    <h2>{{ annonce.title }}</h2>
{% endfor %}
</section>
{% endblock %}
{% endblock %}