{% extends 'base.html.twig' %}

{% block title %}Hello AnnouncerController!
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
			Liste des annonces
		</h1>
		<div
			class="container-2 border border-dark">{# {% for annonce in annonces %}
								<h2>
									{{annonce.name}}
								</h2>
							{% endfor %} #}
		</div>
	</div>
{% endblock %}
